<div class="row">
  <div class="col-md-10 col-offset-2">
    <h2><%= t "admin.list_subject" %></h2>
    <table class="table table-striped table-hover">
      <thead>
        <th><%= t "admin.subject_title" %></th>
        <th><%= t "admin.subject_description" %></th>
      </thead>
      <tbody>
        <% @subjects.each do |subject| %>
          <tr>
            <td><%= link_to subject.title, subject_path(subject) %></td>
            <td><%= link_to subject.description, subject_path(subject) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="text-center">
  <%= will_paginate %>
</div
