<div class="row">
  <div class="col-md-8">
    <div class="col-md-12 subect-title">
      <div class="col-md-4">
      </div>
      <table class="table table-striped table-hover">
      <thead>
        <th><%= t "admin.subject_title" %></th>
        <th><%= t "admin.subject_description" %></th>
      </thead>
      <tbody>
        <td><%= @subject.title %></td>
        <td><%= @subject.description %></td>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div class="col-md-12 trainer_in_subject">
      <h4><%= t "admin.trainer_in_subject" %></h4>
      <div class="col-md-4">
        <p class="trainer_subject"></p>
      </div>
    </div>
    <div class="col-md-12 trainee_in_subject">
      <h4><%= t "admin.trainee_in_subject" %></h4>
      <div class="col-md-4">
        <p class="trainer_name"></p>
      </div>
    </div>
  </div>
</div>
